/******************************************************************************/
/* general */
/******************************************************************************/
body {
  padding-top: 50px;
}

hr {
  margin: 10px 0;
}

/******************************************************************************/
/* common */
/******************************************************************************/
/* header */
.my-navbar {
  color: #ffffff;
  background: #558eff;
  margin-bottom: 0;
}

.my-navbar-text {
  font-weight: bold;
}

.my-navbar-link,
.my-navbar-link:hover {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* container */
.my-container {
  margin-top: 10%;
}

/* button */
.my-btn {
  color: #ffffff;
  background: #558eff;
}

.my-btn:hover {
  color: #ffffff;
  background: #3c7fcf;
}

.my-dummy-btn {
  display: none;
}

.my-btn-submit {
  width: 109px;
}

/* loading modal */
.my-loading-text {
  font-size: large;
  text-align: center;
  margin-top: 15px;
}

/* simple sidebar */
#sidebar-wrapper {
  background: #a6a6a6;
}

.sidebar-nav li a {
  color: #ffffff;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  background: rgba(242, 242, 242, 0.2);
}

.sidebar-nav li.active,
.sidebar-nav li.active a {
  color: #595959;
  background: #f2f2f2;
}

/******************************************************************************/
/* login */
/******************************************************************************/
.my-logo {
  color: #558eff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

/******************************************************************************/
/* portal */
/******************************************************************************/
@media (min-width: 1200px) {
  .my-section-wrapper {
    width: 800px;
  }
}

.my-section-wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.my-section {
}

.my-category {
  display: inline-block;
  width: 320px;
  vertical-align: top;
  margin: 0 20px 20px 0;
}

.my-section h2,
.my-category h3 {
  color: #4bacc6;
}

.my-category li {
  list-style: url("../img/icon-arrow.png");
}

.my-badge {
  margin-left: 5px;
  background-color: #b3b3b3;
  vertical-align: top;
  font-weight: normal;
}

/******************************************************************************/
/* search */
/******************************************************************************/
.my-table:hover {
  cursor: pointer;
}
